/* ----- user1 ----- */
/* user image */
.user1 .main-page > header .header-left {
  background-image: url('../images/avatar/020092.jpg');
}
/* slide bar color */
.user1 .slide .slide-bar[name='spending']::-webkit-slider-thumb {
  box-shadow: -9999px 0 0 9999px var(--color-yellow);
}

/* piggy-bank color */
.user1 .main-page .details .slides .slide:nth-child(1) .gauge {
  width: 65%;
  background: var(--color-orange);
}
.user1 .main-page .details .slides .slide:nth-child(2) .gauge {
  width: 80%;
  background: var(--color-mustard);
}

/* ----- user2 ----- */
/* user image */
.user2 .main-page > header .header-left {
  background-image: url('../images/avatar/020122.jpg');
}
/* slide bar color */
.user2 .slide .slide-bar[name='spending']::-webkit-slider-thumb {
  box-shadow: -9999px 0 0 9999px var(--color-blue);
}

/* piggy-bank color */
.user2 .main-page .details .slides .slide:nth-child(1) .gauge {
  width: 65%;
  background: var(--color-light-blue);
}
.user2 .main-page .details .slides .slide:nth-child(2) .gauge {
  width: 80%;
  background: var(--color-dark-green);
}

/* ----- user3 ----- */
/* user image */
.user3 .main-page > header .header-left {
  background-image: url('../images/avatar/020396.jpg');
}
/* slide bar color */
.user3 .slide .slide-bar[name='spending']::-webkit-slider-thumb {
  box-shadow: -9999px 0 0 9999px var(--color-violet);
}

/* piggy-bank color */
.user3 .main-page .details .slides .slide:nth-child(1) .gauge {
  width: 65%;
  background: var(--color-blue);
}
.user3 .main-page .details .slides .slide:nth-child(2) .gauge {
  width: 80%;
  background: var(--color-mustard);
}
