/* ----- user1 ----- */
/* slide bar color */
.user1 .slide .slide-bar[name='spending']::-webkit-slider-thumb {
  width: 1px;
  box-shadow: -9999px 0 0 9999px var(--color-yellow);
}

/* piggy-bank color */
.user1 .main-page .details .slides .slide:nth-child(1) .gauge {
  width: 65%;
  background: var(--color-orange);
}
.user1 .main-page .details .slides .slide:nth-child(2) .gauge {
  width: 80%;
  background: var(--color-mustard);
}
/* ----- user2 ----- */
/* slide bar color */
.user2 .slide .slide-bar[name='spending']::-webkit-slider-thumb {
  width: 1px;
  box-shadow: -9999px 0 0 9999px var(--color-blue);
}

/* piggy-bank color */
.user2 .main-page .details .slides .slide:nth-child(1) .gauge {
  width: 65%;
  background: var(--color-light-blue);
}
.user2 .main-page .details .slides .slide:nth-child(2) .gauge {
  width: 80%;
  background: var(--color-dark-green);
}
/* ----- user3 ----- */
/* slide bar color */
.user3 .slide .slide-bar[name='spending']::-webkit-slider-thumb {
  width: 1px;
  box-shadow: -9999px 0 0 9999px var(--color-violet);
}

/* piggy-bank color */
.user3 .main-page .details .slides .slide:nth-child(1) .gauge {
  width: 65%;
  background: var(--color-blue);
}
.user3 .main-page .details .slides .slide:nth-child(2) .gauge {
  width: 80%;
  background: var(--color-mustard);
}
