body {
  background: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
/* phone */
.phone-container {
  position: relative;
  overflow: hidden;
  min-width: 375px;
  width: 100%;
  height: 812px;
  background: var(--color-light-beige);
  border-radius: 20px;
}
.phone-bar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 30px);
  height: 20px;
  padding: 12px 15px;
}
.phone-bar .current-time {
  margin-left: 15px;
  font-size: 15px;
  line-height: 20px;
  font-weight: var(--weight-light);
}
.phone-bar .current-time span {
  display: inline-block;
  width: 17px;
  text-align: right;
}
.phone-bar .phone-state {
  font-size: 0;
}
.phone-bar .phone-state > *:not(:last-child) {
  margin-right: 5px;
}
/* app */
.app {
  position: relative;
  overflow: hidden;
  height: calc(100% - 44px);
  margin-top: 44px;
}
/* main */
main.total {
  position: relative;
  overflow: hidden;
  height: calc(100% - 76px);
  margin-bottom: 76px;
}
.main-page {
  position: absolute;
  height: 100%;
  width: 100%;
}
/* main-page */
.main-page header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 21px 0 27px;
}
.main-page header .header-left {
  box-sizing: border-box;
  width: 43px;
  border: 1px solid var(--color-beige);
  border-radius: 50%;
}
.main-page header .header-right {
  font-size: 0;
}
.main-page header .header-right > *:not(:last-child) {
  margin-right: 18px;
}
/* details container */
.main-page .details-container {
  position: absolute;
  top: 55px;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: calc(100% - 55px);
}
/* card */
.main-page .card-container {
  padding: 1px 0;
}
.main-page .card {
  position: relative;
  margin: 32px 48px;
  background: var(--color-white);
  border-radius: 12px;
  box-shadow: 0px 0px 16px 0px var(--color-yellow-shadow);
}
.main-page .card .account {
  padding-top: 14px;
  text-align: center;
}
.main-page .card .account .btn--transfer {
  position: absolute;
  top: 14px;
  right: 17px;
}
.main-page .card .amount {
  margin: 17px 0;
  text-align: center;
  vertical-align: text-bottom;
  font-size: var(--font-small);
  font-weight: var(--weight-medium);
}
.main-page .card .amount .user-amount {
  margin-right: -3px;
  letter-spacing: 2px;
  text-align: right;
  font-size: var(--font-medium);
}
.main-page .card .slides {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-page .card .slides .slide {
  position: relative;
  width: 202px;
  height: 6px;
  margin-right: 7px;
  margin-bottom: 8px;
}
/* spending slide bar */
.main-page .card .slides .slide .slide-bar[name='spending'] {
  width: 202px;
  height: 6px;
  border-radius: 3px;
  background: var(--color-bg-grey);
}
.main-page
  .card
  .slides
  .slide
  .slide-bar[name='spending']::-webkit-slider-thumb {
  width: 1px;
  box-shadow: -202px 0 0 202px var(--color-yellow);
}
/* standard slide bar */
.main-page .card .slides .slide .slide-bar[name='standard'] {
  overflow: visible;
  width: 202px;
  height: 6px;
  border-radius: 3px;
  background: transparent;
}
.main-page
  .card
  .slides
  .slide
  .slide-bar[name='standard']::-webkit-slider-thumb {
  box-sizing: content-box;
  width: 4px;
  height: 17px;
  border: 2px solid var(--color-white);
  border-radius: 4px;
  background: var(--color-orange);
  cursor: pointer;
}

.main-page .card .remaining {
  text-align: center;
  padding-bottom: 7px;
}
/* commercial */
.main-page aside {
  width: fit-content;
  width: -moz-fit-content;
  margin: -7px auto 21px;
}

/* detail */
.main-page .details {
  box-sizing: border-box;
  position: absolute;
  top: var(--card-container-height);
  left: 0;
  width: 100%;
  height: 100%;
  padding: 23px 36px 0;
  background: var(--color-bg-white);
  box-shadow: 0px -5px 14px rgba(189, 144, 28, 0.08);
  border-radius: 30px 30px 0px 0px;
}
.main-page .details > button {
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  width: 48px;
  height: 2px;
  background: var(--color-bg-grey);
  border-radius: 4px;
}
/* piggy bank */
.main-page .details .piggy-bank {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.main-page .details .slides {
  display: flex;
}
.main-page .details .slides .slide:nth-child(1) .gauge {
  width: 65%;
  background: var(--color-orange);
}
.main-page .details .slides .slide:nth-child(2) .gauge {
  width: 80%;
  background: var(--color-mustard);
}
/* nav */
.app nav ul {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 76px;
  background: linear-gradient(
    170deg,
    var(--color-emerald) 30%,
    var(--color-light-green) 115%
  );
}
.app nav ul li {
  width: calc(100% / 4);
}
.app nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.app nav ul li a:active > svg path,
.app nav ul li a:hover > svg path {
  fill: var(--color-dark-green);
}
